.container {
    margin: -10px;
    display: flex;
    flex-direction: column;
    font-family: 'arial';
    font-weight: bold;
    color: black;
}


.header {
    display: flex;
    padding: 50px;
    background-color: grey;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-family: 'arial';
    color: black;
    background-color: white;

}

.main-box {
    padding: 50px;
    justify-content: center;
    align-items: center;
    background-color: white;

}

.rps-box {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: flex;
    padding: 50px;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

button {
    height: 60px;
    width: 150px;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: blue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;

}

button:hover {
    background-color: #3e8e41
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.scorebox {
    border-width: 1px;
    padding: 50px;
    justify-content: center;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


#winner {

    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;

}

.innerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

}

.inputBox {
    display: block;
    height: 75%;
    width: 75%;
}

.playerText {
    margin: 10px;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#playerInput {
    margin: 10px;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

#computerInput {
    margin: 10px;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#scorePlayer {
    padding: 50px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
    font-size: 40px;
}

#scoreComputer {
    padding: 50px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
    font-size: 40px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
}

.git-icon {
    height: auto;
    width: 25px;
}